<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar prodructos</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'style.css')}}">
</head>
<body>
    <div class="formulario-index">
    <h1>Mercado de Productos</h1>
    <form action="/productos">
        <input type="text" name="product" id="product" placeholder="ingrese el nombre del producto...">
        <br>
        <button type="submit" name="boton" id="boton">Enviar</button>
    </form>
</div>
    <nav class="nav-bar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/acerca">Acerca de</a></li>
            <a href="{{ url_for('ver_carrito') }}">Ver Carrito</a>
        </ul>
    </nav>
</body>
</html>